@import "tailwindcss";
@plugin "tailwindcss-animate";

@theme {
  --color-primary: #6060F0;
  --color-secondary: #5A5AE0;
  --color-tertiary: #E0E7FF;

  --color-primary-dark: #4F46E5;
  --color-secondary-dark: #6366F1;
  --color-tertiary-dark: #C7D2FE;
}

/* Scrollbar styles */

::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-track {
  background: #1e293b;
}

::-webkit-scrollbar-thumb {
  background-color: #6366f1;
  border-radius: 6px;
  border: 3px solid #1e293b;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4f46e5;
}

::selection {
  background-color: var(--color-primary);
  color: white;
}