---
import Layout from '../layouts/Layout.astro';
---

<Layout Title="Blog">
    <h1 class="text-primary text-4xl font-bold">En desarrollo</h1>
    <a href="https://blog.blockbyte.me/" class="underline">Versión beta del blog</a>
</Layout>
