---
import Layout from '../layouts/Layout.astro';
---

<Layout Title="Blog">
    <h1 class="text-primary text-4xl font-bold">Welcome to my Astro site!</h1>
    <p>This is the home page.</p>
</Layout>
