---
import Layout from '../layouts/Layout.astro';
import Client from '../components/Client.astro';
import Server from '../components/Server.astro';
---

<Layout>
    <div>
        <span>Cloudflare Workers test with astro and server islands</span>
        <div>
            <Client />
            <Server server:defer />
        </div>
    </div>
</Layout>
