<a 
    href="https://wa.me/" 
    target="_blank"
    class="fixed bottom-6 right-6 z-50 w-16 h-16 bg-green-500 rounded-full shadow-lg flex items-center justify-center hover:scale-110 transition-transform"
>
    <img src="/WhatsApp.svg" alt="WhatsApp" class="w-8 h-8"/>
</a>
