<div class="w-full max-w-scren-xl overflow-hidden">
    <svg viewBox="0 0 1440 100" fill="#4F46E5" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 50C240 100 480 0 720 50C960 100 1200 0 1440 50V100H0V50Z" fill="#4F46E5"/>
    </svg>
</div>

<footer class="bg-primary-dark text-white">
    <div class="mx-auto w-full max-w-screen-xl p-6 lg:p-8">
        <div class="mb-6">
            <div class="grid grid-cols-1 sm:grid-cols-4 md:grid-cols-2 lg:grid-cols-4 gap-8">
                <div>
                    <h2 class="mb-4 font-bold uppercase">¿Necesitas ayuda?</h2>
                    <p class="mb-1"><span class="font-semibold">WhatsApp: </span>+56 9 1234 5678</p>
                    <p class="mb-3"><span class="font-semibold">Correo: </span>pucaraveterinaria@gmail.com</p>
                    <h3 class="font-semibold uppercase mb-1">Dirección</h3>
                    <p>Esmeralda, 97 San Bernardo</p>
                    <p>Región Metropolitana, Chile</p>
                </div>
                <div>
                    <h2 class="mb-4 font-bold uppercase">Contenido</h2>
                    <ul class="space-y-2">
                        <li><a href="/" class="hover:font-bold">Inicio</a></li>
                        <li><a href="/products" class="hover:font-bold">Productos</a></li>
                        <li><a href="/blog" class="hover:font-bold">Blog Educativo</a></li>
                        <li><a href="/contact" class="hover:font-bold">Contacto</a></li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-4 font-bold uppercase">Redes sociales</h2>
                    <ul class="space-y-2">
                        <li><a href="#" class="hover:font-bold">Instagram</a></li>
                        <li><a href="#" class="hover:font-bold">TikTok</a></li>
                        <li><a href="#" class="hover:font-bold">WhatsApp</a></li>
                        <li><a href="#" class="hover:font-bold">Facebook</a></li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-4 font-bold uppercase">Información legal</h2>
                    <ul class="space-y-2">
                        <li><a href="/Terms" class="hover:font-bold">Términos y condiciones</a></li>
                        <li><a href="/Privacy" class="hover:font-bold">Política de privacidad</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="my-6 border-white/50 sm:mx-auto lg:my-8" />
        <div class="flex items-center justify-center">
            <span class="text-center">
                Clínica veterinaria Pucará | Todos los derechos reservados © <span class="font-bold">{new Date().getFullYear()}</span>
            </span>
        </div>
    </div>
</footer>