---
import Separator from "./Separator.astro";
---

<div>
    <Separator 
        title="La mejor atención veterinaria" 
        description="Queremos entregar la mejor atención a tu mascota, le ofrecemos la mejor atención y una cálida experiencia a tu mascota." 
    />   

    <div class="max-w-6xl mx-auto text-dark">
        <div class="py-4 mx-auto max-w-screen-xl sm:py-4">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4 h-full">
                <!-- Imagen grande a la izquierda -->
                <div class="md:col-span-1 relative rounded-xl overflow-hidden border border-primary flex items-center justify-center h-full">
                    <img 
                        src="/catdog.webp" 
                        alt="Perros y Gatos" 
                        class="h-full flex"
                    >

                    <!-- Degradado encima de la imagen -->
                    <div class="absolute inset-0 z-10 bg-gradient-to-t to-transparent rounded-xl"></div>
                </div>
                <!-- Sección derecha -->
                <div class="md:col-span-2 flex flex-col gap-4">
                    <!-- Rectángulo largo arriba -->
                    <div class="flex flex-col rounded-xl border border-primary-dark p-3">
                        <h3 class="text-2xl font-semibold mb-2 text-center">Confianza y Seguridad</h3>
                        <p class="lg:text-lg sm:text-md text-gray-700">Brindamos un servicio responsable, ético y cercano, asegurando el bienestar y la protección de tu mascota.</p>
                    </div>
                    <!-- Parte inferior -->
                    <div class="grid grid-cols-1 sm:grid-cols-4 gap-4">
                        
                        <!-- Columna izquierda (dos cubos) -->
                        <div class="col-span-1 sm:col-span-2 flex flex-col gap-4">
                            <div class="flex flex-col rounded-xl border border-primary-dark p-3 h-full">
                                <h3 class="text-2xl font-semibold mb-2 text-center">Profesionales</h3>
                                <p class="lg:text-lg sm:text-md text-gray-700">Contamos con un equipo de veterinarios altamente capacitados y apasionados por el bienestar animal.</p>
                            </div>
                            <div class="flex flex-col rounded-xl border border-primary-dark p-3 h-full">
                                <h3 class="text-2xl font-semibold mb-2 text-center">Transparencia</h3>
                                <p class="lg:text-lg sm:text-md text-gray-700">Mantenemos una comunicación abierta y honesta con nuestros clientes, asegurando que estén informados en todo momento.</p>
                            </div>
                        </div>
                        <!-- Columna derecha (rectángulo largo) -->
                        <div class="col-span-1 sm:col-span-2">
                            <div class="flex flex-col rounded-xl border border-primary-dark h-full w-full justify-between">
                                <h3 class="text-2xl font-semibold mb-2z text-center pt-3 px-3">Atención personalizada</h3>
                                <p class="lg:text-lg sm:text-md text-gray-700 px-3 pt-3">Cada mascota es única, por lo que ofrecemos un enfoque individualizado para satisfacer sus necesidades específicas y garantizar su bienestar integral.</p>
                                <img 
                                    src="/cat.webp" 
                                    alt="Veterinario atendiendo a un perro" 
                                    class="object-cover"
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
