---
interface Service {
  icon: string
  title: string
  price: string
}

const { services } = Astro.props as { services: Service[] }
---

<div class="md:flex md:flex-wrap justify-center gap-2 max-w-3xl mx-auto py-8 grid grid-cols-2 items-center">
  {services.map((service) => (
    <div class="flex flex-col border lg:min-w-[320px] md:min-w-[230px] sm:min-w-18 bg-primary-dark rounded-lg p-3 transition hover:bg-primary text-white group cursor-pointer shadow-lg hover:shadow-xl">
      <h3 class="font-semibold text-lg">{service.title}</h3>
      <p class="text-white text-sm group-hover:text-white">{service.price}</p>
    </div>
  ))}
</div>
