---
import ServicesCard from "./ServicesCard.astro"
import Separator from "./Separator.astro";

const services = [
    { icon: "ri-stethoscope-line", title: "Veterinaria", price: "A partir desde $10.000" },
    { icon: "ri-x-ray-line", title: "Radiografías", price: "A partir desde $10.000" },
    { icon: "ri-scissors-cut-line", title: "Baño y peluqueria", price: "A partir desde $10.000" },
    { icon: "ri-syringe-line", title: "Vacunación", price: "A partir desde $10.000" },
    { icon: "ri-file-list-3-line", title: "Exámenes", price: "A partir desde $10.000" },
    { icon: "ri-ambulance-line", title: "Hospitalización", price: "A partir desde $10.000" },
]
---

<div>

    <Separator
        title="Nuestros Servicios"
        description="Ofrecemos una amplia gama de servicios para el cuidado de tus mascotas."
    />
    <ServicesCard services={services} />

</div>