---
import Separator from "./Separator.astro";
import CarouselComponent from "./CarouselComponent";

const staff = [
    {
        nombre: "Dra. María Pérez",
        cargo: "Veterinaria Jefe",
        imagen: "",
    },
    {
        nombre: "Dr. Juan Rodríguez",
        cargo: "Veterinario",
        imagen: "",
    },
    {
        nombre: "Dra. Ana Torres",
        cargo: "Veterinaria",
        imagen: "",
    },
    {
        nombre: "Dr. Pedro López",
        cargo: "Especialista en Cirugía",
        imagen: "",
    },
];
---

<div>
    <Separator title="Nuestros profesionales" />
    <CarouselComponent staff={staff} client:load />
</div>
