---
import Separator from "./Separator.astro";
import CarouselComponent from "./CarouselComponent";

const staff = [
    {
        nombre: "Dra. María Pérez",
        cargo: "Veterinaria Jefe",
        imagen: "https://png.pngtree.com/png-clipart/20240309/original/pngtree-smiling-vet-doctor-with-pet-png-image_14547566.png",
    },
    {
        nombre: "Dr. Juan Rodríguez",
        cargo: "Veterinario",
        imagen: "https://png.pngtree.com/png-vector/20250803/ourmid/pngtree-smiling-veterinarian-in-scrubs-holding-a-happy-jack-russell-terrier-dog-png-image_16818514.webp",
    },
    {
        nombre: "Dra. Ana Torres",
        cargo: "Veterinaria",
        imagen: "https://png.pngtree.com/png-clipart/20240309/original/pngtree-smiling-woman-vet-png-image_14547568.png",
    },
    {
        nombre: "Dr. Pedro López",
        cargo: "Especialista en Cirugía",
        imagen: "https://png.pngtree.com/png-clipart/20240309/original/pngtree-vet-doctor-holding-cat-png-image_14547569.png",
    },
];
---

<div>
    <Separator title="Nuestros profesionales" />
    <CarouselComponent staff={staff} client:load />
</div>
