---
interface Props {
    nombre: string;
    cargo: string;
    imagen: string;
}

const { nombre, cargo, imagen } = Astro.props;
---

<div class="relative rounded-tl-[100px] rounded-br-[100px] overflow-hidden shadow-lg bg-primary-dark">
    <img 
        src="https://png.pngtree.com/png-clipart/20240309/original/pngtree-smiling-vet-doctor-with-pet-png-image_14547566.png" 
        alt={nombre} 
        class="w-full h-[400px] object-cover" 
    />
    <div class="h-full absolute bottom-0 left-0 right-0 bg-gradient-to-t from-black/80 to-transparent p-6 justify-end flex flex-col">
        <h3 class="text-2xl font-semibold text-white">{nombre}</h3>
        <p class="text-lg text-white">{cargo}</p>
    </div>
</div>
