---
import Layout from '../../layouts/Layout.astro';
import ProductDetailClient from '../../components/ProductDetailClient';
import LatestProducts from '../../components/LatestProducts';

export const prerender = false; // dynamic route served at runtime

const { id } = Astro.params;
---

<Layout title={`Producto ${id}`}>
  <div class="lg:min-w-6xl mx-auto">
    <ProductDetailClient id={id} client:load />
    <LatestProducts client:load />
  </div>
</Layout>